
<div>
    <mat-card *ngFor="let gaso of listaGasolineras">
        <mat-card-title>Nombre : {{gaso['Rótulo']}}</mat-card-title>
        <mat-card-content>
            <p>Dirección : {{gaso['Dirección']}}<p>        
            <p>Gasolina 95 : {{gaso['Precio Gasolina 95 E5']}} €<p>
            <p>Gasoleo : {{gaso['Precio Gasoleo A']}} €<p>
            <p>Hidrogeno : {{gaso['Precio Hidrogeno']}} €<p>
            <p>Provincia : {{gaso['Provincia']}}</p>
        </mat-card-content>
    </mat-card>
</div>
